# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.directory

# dist files
dist/
*.zip
*.tar.gz

costsensitive.egg-info/
	*

src/
	*.so
	*.a
	*.exe
	*.lib
	*.dynlib

MANIFEST
costsensitive/vwrapper.c

*.so
*.a
*.exe
*.lib
*.dynlib
.Rproj.user
.Rhistory
costsensitive.Rproj
deleteme.R
build/*

