include src/calcv.c
include costsensitive/vwrapper.pyx
include pyproject.toml
exclude R/*
exclude man/*
exclude example/*
exclude plots/*
exclude *.Rproj
exclude *.Rbuildignore
exclude *.Rhistory
exclude *.md
exclude *.out
exclude *.exe
exclude *.o
exclude *.a
exclude *.so
