importFrom("utils", "combn", "head")
importFrom("stats", "predict", "runif")
useDynLib(costsensitive, .registration=TRUE)
export(weighted.all.pairs)
S3method(predict, wap)
S3method(print, wap)
S3method(summary, wap)
export(weighted.one.vs.rest)
S3method(predict, wovr)
S3method(print, wovr)
S3method(summary, wovr)
export(regression.one.vs.rest)
S3method(predict, rovr)
S3method(print, rovr)
S3method(summary, rovr)
export(cost.proportionate.classifier)
S3method(predict, costprop)
S3method(print, costprop)
S3method(summary, costprop)
