useDynLib(costsensitive, r_calc_v=r_calc_v, .registration=TRUE)
export(weighted.all.pairs)
export(predict.wap)
export(print.wap)
export(summary.wap)
export(weighted.one.vs.rest)
export(predict.wovr)
export(print.wovr)
export(summary.wovr)
export(regression.one.vs.rest)
export(predict.rovr)
export(print.rovr)
export(summary.rovr)
export(cost.proportionate.classifier)
export(predict.costprop)
export(print.costprop)
export(summary.costprop)
